<div class="about" id="about">
    <div class="introduction-profile">
        <img src="Image/Test.jpg" alt="" width="480" height="480" class="profile" style="max-width: 100%; height: auto;">
    </div>
    <div class="introduction-content">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias accusamus aspernatur ducimus, reiciendis enim explicabo doloremque officia itaque, iusto in libero modi vero repellat. Quia doloribus sed voluptatum explicabo id.</p>
        <h2 style="margin-top: 3rem;">Hobby</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias accusamus aspernatur ducimus, reiciendis enim explicabo doloremque officia itaque, iusto in libero modi vero repellat. Quia doloribus sed voluptatum explicabo id.</p>
    </div>
</div>