<div class="contact-section" id="contact">
    <div class="contact-top">
        <h1>Contact Here </h1>
        <div class="Contact-info">
            <h3>Contact Info</h3>
            <p>kaixing636@gmail.com</p>
            <p>Malaysia, MY</p>
        </div>
    </div>
    <div class="contact-input">
        <form action="/send-mail" method="POST">
            <input type="text" id="Username" placeholder="Nerdanta" minlength="6" maxlength="40" required> <!--Text input-->
            <input type="email" id="Email" placeholder="Nerdanta1322@gmail.com" required> <!--Email input-->
            <textarea id="Message"row="3" cols="25" placeholder="Send your message" required></textarea> <!--Textarea for long paragraph input-->
            <input type="submit" value="Contact Me" class="btn" style="margin-top: 0.5rem; width: fit-content;">
        </form>
    </div>
</div>