<footer class="ending" style="margin-top: 6rem; margin-bottom: 6rem; max-width: 100%;">
    <div class="left-navigation">
        <img src="" alt="" class="logo">
        <h1 class="name">Nerdanta</h1>
    </div>
    <div class="ending-container" style="margin-top: 4.375rem;">
        <a href="#home" class="middle-navigation">Home</a>
        <a href="#about" class="middle-navigation">About Me</a>
        <a href="#skill-section" class="middle-navigation">Skills</a>
        <a href="#project-lists" class="middle-navigation">Projects</a>
    </div>
    <div class="media-container"  style="margin-top: 4.375rem;">
        <a href="/" class="media-link">
            <i class="fa-brands fa-linkedin fa-xl"></i>
        </a>
        
        <a href="/" class="media-link">
            <i class="fa-brands fa-discord fa-xl"></i>
        </a>

        <a href="/" class="media-link">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>
        
        <a href="/" class="media-link">
            <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
    </div>
</footer>