<header class="navigation-bar">
    <nav>
        <div class="navigation-logo">
            <a href="/" class="left-navigation">
                <img src="" alt="" class="logo">
                <a class="name">Nerdanta</a>
            </a>
        </div>

        <div class="navigation-container">
            <a href="#home" class="middle-navigation">Home</a>
            <a href="#about" class="middle-navigation">About Me</a>
            <a href="#skill-section" class="middle-navigation">Skills</a>
            <a href="#project-lists" class="middle-navigation">Projects</a>
        </div>
        <div class="navigation-button">
            <button class="contact" >Contact</button>
        </div>


        <button class="navigation-more active">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
    <div class="slider-bar">
        <div style="display: flex; flex-direction: column; gap: 1rem;">
            <a href="#home" class="middle-navigation">Home</a>
            <a href="#about" class="middle-navigation">About Me</a>
            <a href="#skill-section" class="middle-navigation">Skills</a>
            <a href="#project-lists" class="middle-navigation">Projects</a>
            <button class="contact">Contact</button>
        </div>
    </div>
</header>