<div class="introduction" id="home">
    <div class="introduction-content">
        <h3>Greeting! I am</h3>
        <h2>Nerdanta</h2>
        <h1>Programmer</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias accusamus aspernatur ducimus, reiciendis enim explicabo doloremque officia itaque, iusto in libero modi vero repellat. Quia doloribus sed voluptatum explicabo id.</p>
        <button class="contact" style="margin-top: 4.375rem;">Contact</button>
    </div>

    <div class="introduction-profile">
        <img src="Image/Test.jpg" alt="" width="480" height="480" class="profile" style="max-width: 100%; height: auto;">
        <div class="media-container">
            <a href="/" class="media-link">
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </a>
            
            <a href="/" class="media-link">
                <i class="fa-brands fa-discord fa-xl"></i>
            </a>

            <a href="/" class="media-link">
                <i class="fa-brands fa-github fa-xl"></i>
            </a>
            
            <a href="/" class="media-link">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
        </div>
    </div>
</div>