<div class="project-lists" id="project-lists">
    <div class="Title">
        <h1>My Projects</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatibus iusto, similique nostrum ad eos omnis neque tempore molestias tempora laudantium maiores quae pariatur velit repellat veniam consequuntur deleniti! Architecto!</p>
    </div>
    <div class="Project-Interface">
        <div class="Project-Selection">
            <button class="project-buttons">
                All
            </button>
            <button class="project-buttons project-active">
                Completed-Project
            </button>
            <button class="project-buttons">
                Backend-Project
            </button>
            <button class="project-buttons">
                Data-Analysis
            </button>
            <button class="project-buttons">
                Incomplete-Project
            </button>
        </div> 

        <!-- Container section -->
        <div class="container-section Completed-Project">
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Completed-Project</p>
                <a>Project Number 1</a>
            </div>
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Completed-Project</p>
                <a>Project Number 1</a>
            </div>
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Completed-Project</p>
                <a>Project Number 1</a>
            </div>
        </div>
        
        <div class="container-section Backend-Project" style="display: none;">
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Backend-Project</p>
                <a>Project Number 1</a>
            </div>
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Backend-Project</p>
                <a>Project Number 1</a>
            </div>
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Backend-Project</p>
                <a>Project Number 1</a>
            </div>
        </div>

        <div class="container-section Data-Analysis" style="display: none;">
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Data-Analysis</p>
                <a>Project Number 1</a>
            </div>
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Data-Analysis</p>
                <a>Project Number 1</a>
            </div>
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Data-Analysis</p>
                <a>Project Number 1</a>
            </div>
        </div>

        <div class="container-section Incomplete-Project" style="display: none;">
            <div class="Project-Display">
                <div class="Container">
                    <img src="Image/Test.jpg" alt="" width="300" height="auto" class="web-project" style="max-width: 100%; height: auto;">
                </div>
                <p>Incomplete-Project</p>
                <a>Project Number 1</a>
            </div>
        </div>
    </div>
</div>