<div class="skill-section" style="margin-top: 5.375rem;" id="skill-section">
    <div class="skill-flex">
        <div class="Grid-Box">
            <h1 class="Title"> &#10094; Frontend &#10095; </h1>
            <div class="skill-box">
                <h3>HTML</h3>
            </div>
            <div class="skill-box">
                <h3>CSS</h3>
            </div>
            <div class="skill-box">
                <h3>JavaScript</h3>
            </div>
            <div class="skill-box">
                <h3>jQuery</h3>
            </div>
        </div>
        <div class="Grid-Box">
            <h1 class="Title">&#10100; Backend &#10101;</h1>
            <div class="skill-box">
                <h3>NodeJS</h3>
            </div>
            <div class="skill-box">
                <h3>Express</h3>
            </div>
            <div class="skill-box">
                <h3>EJS</h3>
            </div>
        </div>
        <div class="Grid-Box">
            <h1 class="Title"> &#10088; Data &#10089; </h1>
            <div class="skill-box">
                <h3>SQL</h3>
            </div>
            <div class="skill-box">
                <h3>PostgreSQL</h3>
            </div>
            <div class="skill-box">
                <h3>Excel</h3>
            </div>
        </div>
    </div>
</div>